<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sz.dzh.dviewsummary">

    <application
        android:allowBackup="true"
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.ConstraintActivity" />
        <activity android:name=".module.TestActivity" />
        <activity android:name=".module.ToolBarActivity" />
        <activity android:name=".module.CardViewActivity" />
        <activity android:name=".module.FABAndSnackBarActivity" />
        <activity android:name=".module.NavigationViewActivity" />
        <activity android:name=".module.TextInputLtActivity" />
        <activity android:name=".module.TabLayoutActivity" />
        <activity android:name=".module.coordinator.AppBarLayoutActivity" />
        <activity android:name=".module.coordinator.CoordinatorLayoutActivity" />
        <activity android:name=".module.coordinator.AppBarLayoutActivity2" />
        <activity android:name=".module.coordinator.AppBarLayoutActivity3" />
        <activity android:name=".module.coordinator.AppBarLayoutActivity4" />
        <activity android:name=".module.coordinator.AppBarLayoutActivity5" />
    </application>

</manifest>