<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sz.dzh.dviewsummary">

    <!--         普通权限           -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <!--targetSdkVersion>=28，前台服务需要此权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--电源锁权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--接收开机广播的权限-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <!--
      1)android:resizeableActivity="false"
      设置是否支持7.0提供的分屏模式，默认为true，支持。

      2）android:usesCleartextTraffic="true"
      Android9.0 默认是禁止所有的http请求的，需要在代码中设置如下代码才可以正常进行网络请求。
    -->
    <application
        android:allowBackup="true"
        android:name=".base.App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <!--预期声明可下载的字体-->
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts" />


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--android 7.0 支持的长按app弹出快捷方式  配置-->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />

        </activity>
        <activity android:name=".module.ConstraintActivity" />
        <activity android:name=".module.v5_6_view.ToolBarActivity" />
        <activity android:name=".module.v5_6_view.CardViewActivity" />
        <activity android:name=".module.v5_6_view.FABAndSnackBarActivity" />
        <activity android:name=".module.v5_6_view.NavigationViewActivity" />
        <activity android:name=".module.v5_6_view.TextInputLtActivity" />
        <activity android:name=".module.v5_6_view.TabLayoutActivity" />
        <activity android:name=".module.v5_6_view.coordinator.AppBarLayoutActivity" />
        <activity android:name=".module.v5_6_view.coordinator.CoordinatorLayoutActivity" />
        <activity android:name=".module.v5_6_view.coordinator.AppBarLayoutActivity2" />
        <activity android:name=".module.v5_6_view.coordinator.AppBarLayoutActivity3" />
        <activity android:name=".module.v5_6_view.coordinator.AppBarLayoutActivity4" />
        <activity android:name=".module.v5_6_view.coordinator.AppBarLayoutActivity5" />
        <activity android:name=".module.v5_6_view.coordinator.CollapsingToolbarLayoutActivity" />
        <activity android:name=".module.v5_6_view.coordinator.CollapsingToolbarLayoutActivity2"/>
        <activity android:name=".module.v5_6_view.coordinator.CollapsingToolbarLayoutActivity3"
            android:theme="@style/StatusBar_Transparent"/>
        <activity android:name=".module.v5_6_view.V5ViewListActivity" />
        <activity android:name=".module.v5_6_function.V5FunctionListActivity" />
        <activity android:name=".module.v5_6_function.ElevationActivity" />
        <activity android:name=".module.v5_6_function.OutLineActivity" />
        <activity android:name=".module.v5_6_function.PaletteActivity" />
        <activity android:name=".module.v5_6_function.WaterRippleActivity" />
        <activity android:name=".module.v5_6_function.ThemeActivity" />
        <activity android:name=".module.v7_function.V7FunctionListActivity" />
        <activity android:name=".module.v7_function.ResizeableActivity"
            android:configChanges="orientation|screenLayout|screenSize"
            />
        <activity android:name=".module.v8_function.V8FunctionListActivity" />
        <activity android:name=".module.v8_function.PipActivity"
            android:supportsPictureInPicture="true"
            android:configChanges="orientation|screenLayout|screenSize"/>
        <activity android:name=".module.v8_function.FontActivity" />
        <activity android:name=".module.v8_function.AutosizingTvActivity" />
        <activity android:name=".module.custom.BigImageActivity" />
        <activity android:name=".module.custom.CustomViewListActivity" />
        <activity android:name=".module.custom.NiceImageActivity" />
        <activity android:name=".module.custom.MyViewActivity" />
        <activity android:name=".module.v5_6_view.coordinator.CollapsingToolbarLayoutActivity4" />

    </application>

</manifest>